@use "../global/bootstrap.scss";

.details__details-wrapper {
  display: grid;
  grid-template-columns: 97px 1fr;
  margin: 0;
  padding: 5px 0 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba($light-border, 0.4);
}

.details-wrapper__name {
  display: flex;
  margin: 0;
}

.details-wrapper__value {
  display: flex;
  margin: 0;
}
