.details__details-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  padding: 5px 0 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba($light-border, 0.4);
}
