.highlight-header__title {
  display: flex;
  margin: 0;
  color: $primary-font;
  align-self: center;

  @include big-header;
}

@media (min-width: $tablet-width) {
  .highlight-header__title {
    @include huge-header-tablet;
  }
}

@media (min-width: $desktop-width) {
  .highlight-header__title {
    @include huge-header-desktop;
  }
}

.highlight-header__marker {
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
  color: $accent-font;

  @include small-header;
}

@media (min-width: $tablet-width) {
  .highlight-header__marker {
    text-align: center;
    max-width: 100px;
  }
}

@media (min-width: $desktop-width) {
  .highlight-header__marker {
    justify-self: left;
    align-self: center;
  }
}
