.highlight-header__title {
  margin: 0;
  color: $primary-font;

  @include big-header;
}

.highlight-header__marker {
  margin: 0;
  padding: 5px 0;
  text-transform: uppercase;
  color: $accent-font;

  @include small-header;
}
