.highlight-wrapper__highlight-header {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.highlight-header__title {
  margin: 0;
  font-family: var(--general-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: var(--primary-font);
}

.highlight-header__marker {
  margin: 0;
  padding: 5px 0;
  font-family: var(--general-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--accent-font);
}
