.highlight-wrapper__price-wrapper {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
}

.price-wrapper__price {
  padding: 8px 0 20px;
  color: $secondary-font;

  @include small-header;
}
