.highlight-wrapper__product-info {
  display: flex;
  flex-wrap: wrap;
}

.product-info__description {
  margin: 0;
  padding: 12px 0 15px;
  color: $secondary-font;

  @include text;

  line-height: 24px;
}
