.product-info__intro {
  margin: 0;
  padding: 12px 0 15px;
  color: $secondary-font;

  @include text;

  line-height: 24px;
}

.product-info__details {
  flex-grow: 1;
  padding: 0;
  color: $secondary-font;

  @include text;

  line-height: 24px;
}

.product-info__image {
  display: flex;
  padding: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-width) {
  .product-info__image {
    position: absolute;
    min-width: 50%;
    padding: 0;
    left: 100%;
    bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .product-info__image {
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}

.product-info__price-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
