.sizes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 7px;
  padding: 6px 0 30px;
  justify-content: space-between;
}

.sizes__size-label {
  display: flex;
}

.sizes__button {
  display: inline-block;
  box-sizing: border-box;
  justify-content: center;
  align-content: center;
  padding: 13px 33px;
  border: 2px solid rgba($light-border, 0.3);
  color: $secondary-font;
  text-transform: uppercase;
  cursor: pointer;

  @include big-text-bold;

  &:hover,
  &:focus {
    border: 2px solid $light-border;
    outline: none;
  }

  .sizes__size-input:checked + & {
    border: 2px solid $hightlight-border;
  }

  .sizes__size-input:active + & {
    background-color: $dark-background;
    border: 2px solid $dark-border;
    color: rgba($hightlight-font, 0.3);
    outline: none;
  }
}
