.button {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 15px 28px;
  background-color: $primary-background;
  border: 2px solid $dark-border;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  vertical-align: middle;
  word-wrap: none;
  color: $secondary-font;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: $dark-background;
    border: 2px solid $dark-border;
    color: $hightlight-font;
  }

  &:active {
    background-color: $dark-background;
    border: 2px solid $dark-border;
    color: rgba($hightlight-font, 0.3);
  }
}
