.page__body {
  margin: 0 auto;
  width: 320px;
  background-color: var(--primary-background);

  border: 1px solid pink;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
