.page__body {
  margin: 0 auto;
  font-family: $basic-font-family;
}

.page__footer {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 23px;
  background-color: $secondary-background;
  align-items: center;
  justify-items: center;
}

@media (min-width: $tablet-width) {
  .page__footer {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
}
