:root {
  /*backgrounds*/
  --primary-background: #ffffff;
  --transparent-primary-background: rgba(255, 255, 255, 0.9);
  --secondary-background: #f1f1f1;
  --dark-background: #444444;
  --hightlight-background: #63d1bb;
  --hightlight-background-secondary: #59d5bc;
  --hightlight-background-additional: #56c3b2;
  --hightlight-background-additional-secondary: #46c1ae;

  /*fonts*/
  --primary-font: #000000;
  --secondary-font: #444444;
  --hightlight-font: #ffffff;
  --transparent-font: rgba(255, 255, 255, 0.3);
  --accent-font: #63d1bb;
  --accent-font-additional: #46c1ae;

  /*borders*/
  --dark-border: #444444;
  --light-border: #ececec;
  --ultra-light-border: #c6c6c6;
  --hightlight-border: #63d1bb;
  --hightlight-border-additional: #46c1ae;
  --transparent-hightlight-border-additional: rgba(70, 193, 174, 0.1);

  /*icons*/
  --primary-icon: #000000;
  --transparent-primary-icon: rgba(0, 0, 0, 0.6);
  --ultra-transparent-primary-icon: rgba(0, 0, 0, 0.3);
  --hightlight-icon: #149080;
  --accent-icon: #63d1bb;
}
