.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-content: center;
  padding-bottom: 39px;
}

.main-container__hero {
  display: flex;
  justify-content: center;
  background-color: $secondary-background;
}

.main-container__product-groups {
  position: relative;
  display: flex;
  justify-content: center;
}

.main-container__highlight {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $desktop-width) {
  .main-container__highlight {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-container__advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $desktop-width) {
  .main-container__advantages {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-container__feedback {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .main-container__feedback {
    padding-bottom: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-container__feedback {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.main-container__contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-container__separator {
  display: flex;
  flex-grow: 1;
  height: 6px;
  margin: 0;
  border: none;
  background-image: url("../img/backgrounds/zigzag-line.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-x;
}

@media (min-width: $desktop-width) {
  .main-container__separator {
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
  }
}

.main-container__form-container {
  display: flex;
  justify-content: center;
  padding: 17px 30px;
}

@media (min-width: $tablet-width) {
  .form-container__order-wrapper {
    padding: 17px 50px;
  }
}
