.main-index__separator {
  display: flex;
  flex-grow: 1;
  height: 6px;
  margin: 0;
  border: none;
  background-image: url("/img/backgrounds/zigzag-line.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: repeat-x;
}
