.advantages-list {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.advantages-list__list-item {
  position: relative;
  padding: 20px 0;

  &::before {
    position: absolute;
    content: "";
    width: 55px;
    height: 55px;
    top: -16px;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &--eco::before {
    background-image: url("../img/icons/icon-flower.svg");
  }

  &--price::before {
    background-image: url("../img/icons/icon-money.svg");
  }

  &--likes::before {
    background-image: url("../img/icons/icon-heart.svg");
  }

  &--handmade::before {
    background-image: url("../img/icons/icon-knit.svg");
  }

  &--local::before {
    background-image: url("../img/icons/icon-rocket.svg");
  }

  &--gift::before {
    background-image: url("../img/icons/icon-gift.svg");
  }
}

.advantages-list__header {
  color: $primary-font;

  @include small-header;
}
