.advantages__advantages-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .advantages__advantages-wrapper {
    padding: 0 50px;
  }
}
