.advantages-wrapper__advantages-header {
  color: $primary-font;

  @include big-header;
}

.advantages-wrapper__advantages-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}
