.main-container__products {
  margin: 0;
}

.products__products-wrapper {
  display: flex;
  padding: 30px;
}

.products-wrapper__product-list {
  display: grid;
  margin: 0;
  padding: 0;
  gap: 30px;
  list-style: none;
}
