@use "../global/bootstrap.scss";

.product-list__product-list-item {
  padding: 0;
}

.product-list-item__product-card {
  display: flex;
  flex-wrap: wrap;
}

.product-card__info {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 30px;
  border: 1px solid rgba($dark-border, 0.2);
}

.product-card__name {
  margin: 0;

  @include big-text-bold;
}


.product-card__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $secondary-font;

  &::after {
    position: relative;
    display: flex;
    height: 1px;
    flex-grow: 1;
    background-color: rgba($dark-border, 0.2);
    content: "";
  }
}

.product-card__price-wrapper {
  display: flex;
  padding-top: 22px;
  justify-content: space-between;
  align-items: center;
}

.product-card__price {
  @include text-small;
  font-weight: 700;
  margin: auto 0;
}

.product-card__cart-button {
  display: inline-block;
  box-sizing: border-box;
  background-color: $primary-background;
  border: none;
  padding: 2px;
  fill: rgba($primary-icon, 0.2);
  cursor: pointer;

  &:hover {
    fill: $accent-icon;
  }

  &:disabled {
    fill: rgba($accent-icon, 0.3);
    cursor: not-allowed;
  }
}
