.product-card-info__price-cart-wrapper {
  display: flex;
  padding-top: 22px;
  justify-content: space-between;
  align-items: center;
}

.product-card-info__name {
  margin: 0;

  @include big-text-bold;
}

.product-card-info__description {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: $secondary-font;

  &::after {
    position: relative;
    display: flex;
    height: 1px;
    flex-grow: 1;
    background-color: rgba($dark-border, 0.2);
    content: "";
  }
}
