.product-list__product-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  border: 1px solid rgba($dark-border, 0.2);
}

@media (min-width: $tablet-width) {
  .product-list__product-card {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .product-list__product-card {
    flex-direction: column;
  }
}
