.products {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-top: 63px;
    padding-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 111px;
  }
}

.products__product-list {
  display: grid;
  min-width: 100%;
  padding: 0;
  gap: 30px;
  list-style: none;
  justify-items: center;

  @media (min-width: $tablet-width) {
    gap: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 51px;
  }
}
