.product-groups-list__product-groups-list-item {
  display: flex;
  padding: 0;
  justify-content: center;

  &:nth-child(even) {
    background-color: $hightlight-background-additional;

    &:hover {
      background-color: lighten(saturate($hightlight-background-additional, 4%), 1%);
    }
  }

  &:nth-child(odd) {
    background-color: $hightlight-background;

    &:hover {
      background-color: lighten(desaturate($hightlight-background, 2%), 1%);
    }
  }
}

@media (min-width: $tablet-width) {
  .product-groups-list__product-groups-list-item {
    min-width: calc(50% - 50px);
  }
}
