.product-groups__product-groups-list {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .product-groups__product-groups-list {
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    bottom: 100%;
  }
}

.product-groups__separator {
  display: none;
}

@media (min-width: $tablet-width) {
  .product-groups__separator {
    position: relative;
    display: flex;
    height: 24px;
    margin: 0;
    flex-grow: 1;
    background-image: url("../img/backgrounds/zigzag-fill.svg");
    background-size: contain;
    background-position: center center;
    background-repeat: repeat-x;
    border: none;
    transform: translateY(-100%);
  }
}
