.product-link__title {
  margin: 0;
  color: $hightlight-font;

  @include medium-header;
}

.product-link__icon {
  justify-self: center;
  align-self: center;
}

@media (min-width: $tablet-width) {
  .product-link__title {
    @include medium-header-tablet;
  }
}
