.product-groups-list-item__product-link {
  display: flex;
  padding: 21px 27px 30px;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  fill: rgba($hightlight-icon, 0.5);

  &:hover {
    fill: rgba($hightlight-icon, 0.7);
  }

  &--disabled,
  &--disabled:hover {
    fill: rgba($hightlight-icon, 0.3);
    cursor: not-allowed;
  }
}

@media (min-width: $tablet-width) {
  .product-groups-list-item__product-link {
    padding: 30px 33px 27px 36px;
  }
}
