.feedback__feedback-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 45px 30px;
}

@media (min-width: $tablet-width) {
  .feedback__feedback-wrapper {
    position: relative;
    padding: 45px 50px;
    background-image: url("../img/backgrounds/review.jpg");
    background-position: left center;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .feedback__feedback-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
