.feedback {
  display: flex;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 457px;
    width: calc(100% + 50px);
    box-sizing: border-box;
    grid-column: 1 / -1;
    padding-top: 82px;
    padding-bottom: 50px;
    margin-left: -50px;
    margin-bottom: 68px;
    background-image: url("../img/backgrounds/review.jpg");
    background-position: initial;
    background-repeat: no-repeat;
    justify-content: space-between;
    background-size: 45% 100%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
  }
}

.feedback__feedback-title {
  @include big-header;
  margin: 0;

  color: $primary-font;

  @media (min-width: $tablet-width) {
    @include huge-header-tablet;

    max-width: 70%;
    padding-left: 45px;
  }

  @media (min-width: $desktop-width) {
    @include huge-header-desktop;

    grid-column: 2 / 3;
    justify-self: left;
    padding-left: 0;
  }
}

.feedback__feedback-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding-left: 50px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/-1;
    justify-self: left;
    padding-left: 0;
    padding-right: 50px;
    padding-top: 0;
  }
}

.feedback__list-item {
  display: none;
  padding: 0;
  margin: 0;

  &--current {
    display: flex;
  }
}

.feedback__buttons-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    position: absolute;
    max-width: fit-content;
    height: calc(100% - 120px);
    right: 0;
    top: 78px;
    padding: 0;
    flex-direction: column-reverse;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    grid-column: -2/-1;
    padding-right: 50px;
    height: calc(100% - 165px);
    top: 82px;
  }
}

.feedback__toggles {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.feedback__toggle {
  display: inline-block;
  width: 50%;
  box-sizing: border-box;
  padding: 13px 42px 9px 38px;
  background: $primary-background;
  border: 1px solid rgba($light-border, 0.4);
  cursor: pointer;
  fill: $primary-icon;

  &:hover {
    fill: rgba($primary-icon, 0.6);
  }

  &:active {
    fill: rgba($primary-icon, 0.3);
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 20px;
  }
}
