.feedback-wrapper__feedback-title {
  @include big-header;

  color: $primary-font;
}

@media (min-width: $desktop-width) {
  .feedback-wrapper__feedback-title {
    grid-column: 2 / 3;
    justify-self: left;
  }
}

.feedback-wrapper__feedback-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (min-width: $desktop-width) {
  .feedback-wrapper__feedback-list {
    grid-column: 2 / -2;
    justify-self: left;
  }
}

.feedback-wrapper__buttons {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: auto;
}

@media (min-width: $tablet-width) {
  .feedback-wrapper__buttons {
    position: absolute;
    height: calc(100% - 45px);
    right: 50px;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .feedback-wrapper__buttons {
    grid-column: -2 / -1;
  }
}
