@use "../global/bootstrap.scss";

.feedback-wrapper__feedback-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feedback-list__feedback-list-item {
  display: none;
  padding: 0;

  &--current {
    display: flex;
  }
}

.feedback-list-item__review {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.review__text {
  margin: 0;
  padding: 15px 0;
  color: $secondary-font;

  @include text;
}

.review__author {
  padding: 16px 0;
}

.author__name {
  color: $primary-font;
  font-style: normal;

  @include big-text-bold;
}

.author__social {
  color: $secondary-font;
  font-style: normal;

  @include big-text;
}
