.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 1 / -1;
  padding-top: 17px;
  padding-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
  }
}
