@use "../global/bootstrap.scss";

.order-form__form-label {
  display: grid;
  padding: 10px 0;
  grid-template-columns: 42px 1fr;
  gap: 20px;
  align-items: center;
  cursor: pointer;

  &--name,
  &--contact,
  &--comment {
    grid-template-columns: 1fr;
  }
}

.form-label__input-caption {
  @include small-header;

  &--name {
    padding: 10px 0;
  }
}
