@media (min-width: $tablet-width) {
  .order-form__fieldset-wrapper {
    position: relative;

    &:nth-child(even)::before {
      position: absolute;
      display: flex;
      flex-grow: 1;
      height: 100%;
      width: 100%;
      background-color: $secondary-background;
      content: "";
      z-index: -1;
    }
  }
}

@media (min-width: $tablet-width) {
  .order-form__button-disclaimer-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: baseline;
  }
}

@media (min-width: $desktop-width) {
  .order-form__button-disclaimer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: baseline;
  }
}
