.order-form-fieldset__field-title {
  padding-right: 20px;
  text-transform: uppercase;
  color: $accent-font;

  @include small-header;
}

@media (min-width: $tablet-width) {
  .order-form-fieldset__field-title {
    position: absolute;
    display: block;
    grid-column: 1 / 2;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
  }
}

@media (min-width: $desktop-width) {
  .order-form-fieldset__field-title {
    justify-self: center;
  }
}

@media (min-width: $tablet-width) {
  .order-form-fieldset__label-wrapper {
    grid-column: 2 / -1;

    &--checkbox {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media (min-width: $desktop-width) {
  .order-form-fieldset__label-wrapper {
    grid-column: 2 / -2;

    &--checkbox {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
