.our-production-wrapper__video-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -34px;
}

.video-wrapper__video-preview {

}

.video-wrapper__video-button {
  position: absolute;
  border: none;
  background-color: transparent;
  left: 28%;
  top: 25%;
  cursor: pointer;

  &:hover {
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
