.our-production {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    padding-top: 12px;
    padding-bottom: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 105px;
  }
}

.our-production__content-block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba($dark-border, 0.2);
  padding: 20px 30px 34px;
  align-content: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding: 42px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    padding: 47px 57px 60px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.our-production__video-title {
  position: relative;
  padding-left: 61px;
  padding-bottom: 25px;
  margin: 0;
  color: $primary-font;

  @include big-text-bold;

  &::before {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/video.svg");
    left: 10px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    order: 2;
    padding: 38px 65px 0;

    @include medium-header-tablet;
  }

  @media (min-width: $desktop-width) {
    grid-row: 1 / 2;
    grid-column: 3/-1;
    padding: 50px 0 0;
    line-height: 24px;

    &::before {
      left: 2px;
      top: 0;
    }
  }
}

.our-production__video-description {
  font-size: 13px;
  line-height: 24px;
  padding-top: 21px;
  padding-bottom: 30px;
  color: $secondary-font;

  @media (min-width: $tablet-width) {
    order: 3;
    padding-top: 7px;
    padding-bottom: 25px;

    @include text;
  }

  @media (min-width: $desktop-width) {
    grid-row: 2 / 3;
    grid-column: 3/-1;
  }
}

.our-production__call-to-action {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    grid-row: 3/3;
    grid-column: 3/-1;
    justify-self: right;
    align-self: flex-end;
    height: fit-content;
  }
}
