
.video-preview {
  position: relative;
  display: flex;
  min-width: 259px;
  min-height: 150px;
  margin-left: -30px;
  margin-right: -30px;
  background-image: url("../img/backgrounds/video-mobile.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 668px;
    min-height: 455px;
    margin-left: -42px;
    margin-right: -42px;
    margin-top: -42px;
  }

  @media (min-width: $desktop-width) {
    min-width: 682.65px;
    min-height: 455px;
    margin-left: -57px;
    margin-top: -47px;
    margin-bottom: -60px;
    grid-row: 1/4;
  }
}

.video-preview__play-button {
  position: absolute;
  border: none;
  background-color: transparent;
  left: calc(50% - 51px);
  top: 0;
  bottom: 0;
  cursor: pointer;

  &:active {
    opacity: 0.3;
  }
}
