.video-block {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}

.video-block__video-title {
  position: relative;
  padding-left: 61px;
  color: $primary-font;

  @include medium-header;

  &::before {
    position: absolute;
    display: inline-block;
    width: 32px;
    height: 22px;
    background-image: url("../img/icons/video.svg");
    left: 10px;
    content: "";
  }

  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 1 / 2;
  }
}

.video-block__video-description {
  font-size: 13px;
  line-height: 24px;
  color: $secondary-font;

  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    grid-column: 3 / -1;
    grid-row: 2 / 3;
  }
}

.video-block__call-to-action {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 230px;
    height: 52px;
    grid-column: 3 / -1;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
  }
}
