.video-wrapper__video-button {
  position: absolute;
  border: none;
  background-color: transparent;
  left: calc(50% - 51px);
  top: 0;
  bottom: 0;
  cursor: pointer;

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }
}
