/*backgrounds*/
$primary-background: #ffffff;
$secondary-background: #f1f1f1;
$dark-background: #444444;
$hightlight-background: #63d1bb;
$hightlight-background-additional: #46c1ae;

/*fonts*/
$primary-font: #000000;
$secondary-font: #444444;
$hightlight-font: #ffffff;
$accent-font: #63d1bb;
$accent-font-additional: #46c1ae;

/*borders*/
$dark-border: #444444;
$light-border: #c6c6c6;
$hightlight-border: #63d1bb;
$hightlight-border-additional: #46c1ae;

/*icons*/
$primary-icon: #000000;
$hightlight-icon: #149080;
$accent-icon: #63d1bb;
