@mixin huge-header {
  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
}

@mixin huge-header-tablet {
  font-size: 43px;
  line-height: 50px;
}

@mixin huge-header-desktop {
  font-size: 53px;
  line-height: 57px;
}

@mixin big-header {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

@mixin medium-header {
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
}

@mixin medium-header-tablet {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

@mixin small-header {
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
}

@mixin big-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

@mixin big-text-bold {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

@mixin text {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
}

@mixin text-bold {
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
}

@mixin text-small {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}
