@use "../global/bootstrap.scss";

.header {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  height: 79px;
  width: 100%;
  padding: 10px 22px;
  border-top: 1px solid rgba($light-border, 0.4);
  border-bottom: 1px solid rgba($light-border, 0.4);
}
