@use "../global/bootstrap.scss";

.navigation__toggle {
  display: block;
  box-sizing: border-box;
  width: 44px;
  height: 44px;
  margin: auto 0 auto auto;
  padding: 10px;
  border-style: none;
  background-color: $primary-background;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation__toggle--closed {
  background-image: url("/img/icons/menu-closed.svg");
}

.navigation__toggle--opened {
  background-image: url("/img/icons/menu-opened.svg");
}
