.navigation-list {
  display: none;
  position: relative;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $primary-background;
  z-index: 1;
  width: calc(100% + 44px);
  left: -22px;
  bottom: -13px;

  @media (max-width: $mobile-width-only) {
    .navigation--closed & {
      display: none;
    }

    .navigation--opened & {
      display: flex;
    }

    .navigation--nojs & {
      display: flex;
    }
  }

  &--site-list {
    order: 1;
    border-top: 1px solid rgba($light-border, 0.4);
  }

  &--user-list {
    order: 2;
  }

  @media (min-width: $tablet-width) {
    position: initial;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
    align-items: center;
    background-color: transparent;

    &--site-list {
      border: none;
      grid-row: 2 / -1;
      grid-column: 1 / 2;
    }

    &--user-list {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      margin-left: auto;
    }

    &--additional {
      grid-column: 2 / -1;
      grid-row: 2 / -1;
      margin-left: auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    left: auto;
    bottom: auto;

    &--site-list {
      display: grid;
      max-width: calc(50% - 40px);
      grid-template-columns: 1fr 1fr;
      grid-row: 1 / -1;
      grid-column: 1 / -1;
      justify-self: left;
      justify-content: left;
    }

    &--user-list {
      max-width: calc(50% - 40px);
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: right;
      justify-content: right;
    }

    &--additional {
      grid-row: 2 / -1;
      grid-column: 2 / -1;
      justify-self: right;
      justify-content: right;
    }
  }
}

.navigation-list__wrapper {
  display: flex;
  flex-direction: column;
  order: 2;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    order: 2;
    width: calc(50% + 40px);
  }
}

.navigation-list__item {
  display: flex;
  box-sizing: border-box;
  color: $primary-font;
  text-align: left;
  border-bottom: 1px solid rgba($light-border, 0.4);
  justify-content: flex-start;

  @include big-text-bold;

  &--unlisted-mobile,
  &--unlisted-tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    border: none;

    &--search span {
      @include visually-hidden;
    }

    &--search {
      display: inline-flex;
      box-sizing: border-box;
      width: 82px;
      height: auto;
      padding-top: 24px;
      padding-bottom: 24px;
      border-left: 1px solid rgba($light-border, 0.4);
      border-right: 1px solid rgba($light-border, 0.4);
      align-content: center;
      justify-content: center;
    }

    &--cart {
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 20px;
    }

    &--unlisted-mobile {
      display: flex;
    }

    .navigation-list--site-list &--big {
      padding-right: 16px;

      @include text-bold;
    }

    .navigation-list--user-list &--big {
      @include big-text-bold;
    }

    &--small {
      @include text-small;

      font-weight: 700;
    }

    &--tiny {
      @include text-small;
      color: $secondary-font;
    }
  }

  @media (min-width: $desktop-width) {
    &--unlisted-tablet {
      display: flex;
    }

    &--search {
      height: auto;
    }

    &--small {
      margin-top: 10px;
    }

    .navigation-list--site-list & {
      padding-top: 22px;
      padding-right: 42px;
    }

    .navigation-list--site-list &--big,
    .navigation-list--user-list &--big {
      @include big-text-bold;
    }
  }
}

.navigation-list__link {
  display: inline-flex;
  box-sizing: border-box;
  padding: 27px 30px 27px 75px;
  flex-grow: 1;
  color: $primary-font;
  fill: rgba($primary-icon, 0.2);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    padding: 10px;
  }

  &:hover,
  &:focus {
    color: rgba($primary-font, 0.6);
    fill: $accent-icon;
    outline: none;
  }

  &:active {
    color: rgba($primary-font, 0.3);
    fill: rgba($accent-icon, 0.3);
    outline: none;
  }
}

.navigation-list__icon {
  align-self: center;
  margin-left: -46px;
  margin-right: 25px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 0;

    &--cart {
      margin-right: 32px;
    }
  }
}
