.navigation-item__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 27px 30px 27px 100px;
  text-decoration: none;
  color: $primary-font;
  background-position: 50px center;
  background-repeat: no-repeat;

  &--search {
    background-image: url("../img/icons/search.svg");
  }

  &--cart {
    background-image: url("../img/icons/cart.svg");
  }

  @media (min-width: $tablet-width) {
    &--search {
      @include visually-hidden;
    }

    .navigation__navigation-list--site-list &--big {
      @include text-small;
      font-weight: 700;
    }
  }

  @media (min-width: $desktop-width) {
    .navigation__navigation-list--site-list &--big {
      @include big-text-bold;
    }
  }

  @media (min-width: $tablet-width) {
    &--small {
      @include text-small;
      font-weight: 700;
      color: $primary-font;
    }

    &--tiny {
      @include text-small;
      color: $secondary-font;
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation-item__link {
    padding: 10px;
  }
}
