.navigation {
  position: absolute;
  display: flex;
  min-width: 100%;
  top: 15%;
  flex-direction: column;
  z-index: 1;

  @media (min-width: $tablet-width) {
    position: initial;
    flex-direction: row;
    flex-wrap: wrap;
    top: 0;
    justify-content: space-between;
    padding: 12px 50px;
    min-width: fit-content;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-evenly;
    align-items: baseline;
  }
}

.navigation__navigation-list {
  position: relative;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: $primary-background;
  top: 100%;

  &--user-list {
    order: 3;
  }

  &--site-list {
    order: 2;
  }

  @media (min-width: $tablet-width) {
    position: initial;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: transparent;

    &--user-list {
      order: 2;
      margin-left: auto;
    }

    &--site-list {
      order: 3;
      margin-right: auto;
    }

    &--aditional {
      order: 3;
      margin-left: auto;
    }
  }

  @media (max-width: $mobile-width-only) {
    &--closed {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--site-list {
      order: 1;
      max-width: 40%;
    }

    &--user-list {
      order: 3;
      min-width: 40%;
      justify-content: flex-end;
    }

    &--aditional {
      position: relative;
      top: -100%;
      order: 4;
    }
  }
}

.navigation__logo {
  display: flex;
  height: 35px;
  width: 86px;
  padding: 10px;
  align-self: center;
  order: 1;

  @media (min-width: $tablet-width) {
    order: 1;
    min-width: 50%;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    min-width: 12.5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    justify-content: center;
    align-self: center;
  }
}

.navigation__navigation-item a {
  color: $primary-font;
  text-decoration: none;
}

.navigation__navigation-item {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 27px 30px 27px 100px;
  color: $primary-font;
  background-position: 50px center;
  background-repeat: no-repeat;
  text-align: left;
  border-bottom: 1px solid rgba($light-border, 0.4);
  justify-content: flex-start;

  @include big-text-bold;

  &--unlisted-mobile,
  &--unlisted-tablet {
    display: none;
  }

  &--search {
    background-image: url("../img/icons/search.svg");

    @media (min-width: $tablet-width) {
      @include visually-hidden;
    }
  }

  &--cart {
    background-image: url("../img/icons/cart.svg");
  }

  &--big {
    @include text-small;
    font-weight: 700;

    @media (min-width: $desktop-width) {
      @include big-text-bold;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    padding: 10px;

    &--unlisted-mobile {
      display: flex;
    }

    &--small {
      @include text-small;
      font-weight: 700;
      color: $primary-font;
    }

    &--tiny {
      @include text-small;
      color: $secondary-font;
    }
  }

  @media (min-width: $desktop-width) {
    &--unlisted-tablet {
      display: flex;
    }
  }
}
