.navigation-list__navigation-item {
  display: flex;
  text-align: left;
  border-bottom: 1px solid rgba($light-border, 0.4);
  justify-content: flex-start;

  @include big-text-bold;

  &--unlisted-mobile,
  &--unlisted-tablet {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--unlisted-mobile {
      display: flex;
    }
  }

  @media (min-width: $desktop-width) {
    &--unlisted-mobile,
    &--unlisted-tablet {
      display: flex;
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation-list__navigation-item {
    border: none;
  }
}
