.hero__hero-wrapper {
  background-color: $secondary-background;
  height: 100%;
  padding: 73px 23px;

  &--index {
    padding-bottom: 120px;
    background-image: url("../img/backgrounds/hero-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }
}
