@use "../global/bootstrap.scss";

.order-popup__order-popup-form {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 320px;
  margin: auto;
  padding: 28.5px 30px 46px;
  background-color: $primary-background;
  border: 1px solid $light-border;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  align-content: center;
}

.order-popup-form__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;

  @include big-header;
}

.order-popup-form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.order-popup-form__legend {
  margin: 0;
  padding: 18px 0;
  color: $secondary-font;
  text-align: center;

  @include text;
}
