@use "../global/bootstrap.scss";

.order-popup-form__add-to-cart-button {
  color: $hightlight-font;
  border: 2px solid $hightlight-border;
  background-color: $hightlight-background;
  font-size: 17px;
  line-height: 16px;
}
