.order-popup-form__add-to-cart-button {
  color: var(--hightlight-font);
  border: 2px solid var(--hightlight-border);
  background-color: var(--hightlight-background);
  font-size: 17px;
  line-height: 16px;
}
