.order-popup {
  display: none;

  &--opened {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba($primary-background, 0.9);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

.order-popup__popup-form {
  position: relative;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 320px;
  margin: auto;
  padding: 28.5px 30px 46px;
  background-color: $primary-background;
  border: 1px solid $light-border;
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
  align-content: center;
}
