.footer__social {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.social-item {
  margin: 0;
  padding: 0;
  align-items: center;
  justify-items: center;
}

.social__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  align-items: center;
  justify-items: center;
  color: var(--primary-icon);

  &:hover {
    color: var(--hightlight-icon);
  }

  &--disabled,
  &--disabled:hover {
    color: var(--hightlight-icon);
    opacity: 0.3;
  }
}

.social__icon {
  fill: currentColor;
}
