.social-list {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-list__item {
  padding: 0;
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
  justify-items: center;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.social-list__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px;
  fill: $primary-icon;

  &:hover,
  &:focus,
  &:focus-visible {
    fill: $hightlight-icon;
  }

  &:active {
    fill: $hightlight-icon;
    opacity: 0.3;
  }
}
