.social-item__link {
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  align-items: center;
  justify-items: center;
  fill: $primary-icon;

  &:hover {
    fill: $hightlight-icon;
  }

  &--disabled,
  &--disabled:hover {
    fill: $hightlight-icon;
    opacity: 0.3;
    cursor: not-allowed;
  }
}
