.contacts-wrapper__header {
  color: $primary-font;

  @include big-header;
}

@media (min-width: $tablet-width) {
  .contacts-wrapper__header {
    @include huge-header-tablet;

    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-image: url("../img/icons/flag.svg");
      width: 47px;
      height: 81px;
      right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .contacts-wrapper__header {
    @include huge-header-desktop;

    grid-column: 2 / 4;

    &::before {
      content: "";
      left: -25%;
    }
  }
}

.contacts-wrapper__contacts-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 7px 0;
  color: $secondary-font;

  @include text;
}

@media (min-width: $tablet-width) {
  .contacts-wrapper__contacts-list {
    flex-direction: row;
  }
}

@media (min-width: $desktop-width) {
  .contacts-wrapper__contacts-list {
    flex-direction: column;
    grid-column: 2 / 4;
  }
}

.contacts-wrapper__map {
  display: flex;
  padding: 33px 0;
  margin-left: -30px;
  width: 100%;
}

@media (min-width: $tablet-width) {
  .contacts-wrapper__map {
    margin-left: -50px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-wrapper__map {
    grid-column: 4 / -1;
    grid-row: 1 / 4;
    margin: 0;
  }
}

.contacts-wrapper__contact-button {
  margin: auto;
}

@media (min-width: $desktop-width) {
  .contacts-wrapper__contact-button {
    grid-column: 2 / 4;
    justify-self: start;
  }
}
