.email {
  position: relative;
  color: $secondary-font;
  box-shadow: inset 0 -1px 0 $hightlight-border;
  text-decoration: none;

  &:hover {
    color: $accent-font-additional;
    box-shadow: inset 0 -1px 0 $hightlight-border-additional;
  }

  &:active {
    color: $accent-font-additional;
    box-shadow: inset 0 -1px 0 rgba($hightlight-border-additional, 0.1);
  }
}
